---
import SectionHeading from "../components/SectionHeading";
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title={`About | Anshuman Bhardwaj`}>
	<main class="content-container">
		<SectionHeading>I don't remember creating this page...</SectionHeading>
	</main>
</DefaultLayout>
