---
import DefaultLayout from "../layouts/default.astro";
import { motion } from "framer-motion";
import Section from "../components/Section";
import {
	experiences,
	externalArticles,
	mainVariants,
	NUM_TO_WORD,
	publishers,
} from "../constants";
import SectionHeading from "../components/SectionHeading";
import Article from "../components/Article";
import ExternalLink from "../components/ExternalLink";
import type { ArticleInList } from "../types";
import { getDevArticles } from "../utils";
import NameAnimation from "../components/NameAnimation";

const data = await getDevArticles();
const topArticlesFromDev = data
	.sort(
		(a: ArticleInList, b: ArticleInList) =>
			b.positive_reactions_count - a.positive_reactions_count
	)
	.slice(0, 3);

const articles = [...externalArticles, ...topArticlesFromDev];

const experienceInYears =
	NUM_TO_WORD[new Date().getFullYear() - 2018] || "decade";
---

<DefaultLayout>
	<motion.main variants={mainVariants} className={"content-container"}>
		<Section>
			<NameAnimation client:visible />
			<p class={"text-gray-200 text-lg mt-4 leading-loose"}>
				{" "}
				I&apos;m a creative Software Engineer with more than{" "}
				<b>{experienceInYears}</b> years of experience in software development
				ranging from being an <i>Engineering Manager</i> to developing a
				Full Stack application on my own. I help companies create valuable
				software and reach business goals.
				<br />
				Some examples of my contribution:
			</p><ul class="pl-10">
				<li class="list-disc">
					Spearheaded effort on <i>Over-the-Air updates</i> and{" "}
					<i>connected fleet manager</i> at Canoo, developing React and
					Next.js web application.
				</li>
				<li class="list-disc">
					Delivering the <i>&ldquo;Pre-order&rdquo;</i> landing page section
					and payment integration for Canoo Pickup truck under a tight
					deadline.
				</li>
				<li class="list-disc">
					Led the mobile app development as a Product Engineer at
					Delightree using React Native.
				</li>
				<li class="list-disc">
					Designing and developing features for the mobile application
					using ReactNative, React-navigation, and Firebase, along
					with writing performant cloud functions for backend tasks as
					a Product owner at Jynx.
				</li>
			</ul>
		</Section>
		<Section>
			<SectionHeading>What so far?</SectionHeading>
			<p class="text-lg">
				I&apos;ve worked with some great people around the world on
				projects such as <i>next-generation electric vehicles</i> and{
					" "
				}
				<i>large scale eCommerce solution</i>.
			</p>
			<div>
				{experiences.map((exp) => <ExternalLink {...exp} />)}
			</div>
		</Section>
		<Section>
			<SectionHeading>Publishers</SectionHeading>
			<p class="text-lg">
				I&apos;m big on developer advocacy and part of the following
				programmes:
			</p>
			<div>
				{publishers.map((exp) => <ExternalLink {...exp} />)}
			</div>
		</Section>
		<Section class="flex flex-col">
			<SectionHeading>Popular articles</SectionHeading>
			<div>
				{articles.map((article) => <Article article={article} />)}
			</div>

			<a
				href={"/articles"}
				class="self-center p-2 px-4 text-md bg-slate-800 rounded text-yellow-400 hover:underline"
			>
				View More
			</a>
		</Section>
	</motion.main>
</DefaultLayout>
